In [1]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import OneHotEncoder

In [2]:
# url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
# columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']
#  df = pd.read_csv(url, delim_whitespace=True, names=columns, na_values='?') 
# # 결측값 처리 (horsepower 컬럼에 결측값 존재)
# df = df.dropna()
# 해당 소스를 활용하여 연비(Mile per gallen)를 예측 
# mse를 구하라
# 1. ML (RF, DT, LR)
# 2. FCNN
# 3. 순환데이터로 변환후 CNN
# 각 단계별 검사후 다음단계 진행

In [3]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin','cname']
df = pd.read_csv(url,delim_whitespace=True,names=columns, na_values='?')

/var/folders/5m/vx92_jks0p34tqs02v0jgqsw0000gn/T/ipykernel_2034/3869748534.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(url,delim_whitespace=True,names=columns, na_values='?')

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,cname
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [5]:
# 컬렴명 확인
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'cname'],
      dtype='object')

In [6]:
df['mpg'].value_counts()

mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: count, Length: 129, dtype: int64

In [7]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
cname           0
dtype: int64

In [8]:
df = df.dropna()
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
cname           0
dtype: int64

In [9]:
df_encoded = pd.get_dummies(df, columns=['cname'])
df_encoded

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,cname_amc ambassador brougham,cname_amc ambassador dpl,...,cname_volvo 145e (sw),cname_volvo 244dl,cname_volvo 245,cname_volvo 264gl,cname_volvo diesel,cname_vw dasher (diesel),cname_vw pickup,cname_vw rabbit,cname_vw rabbit c (diesel),cname_vw rabbit custom
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,False,False,...,False,False,False,False,False,False,True,False,False,False
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
X=df_encoded.drop('mpg',axis=1)
X.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,cname_amc ambassador brougham,cname_amc ambassador dpl,cname_amc ambassador sst,...,cname_volvo 145e (sw),cname_volvo 244dl,cname_volvo 245,cname_volvo 264gl,cname_volvo diesel,cname_vw dasher (diesel),cname_vw pickup,cname_vw rabbit,cname_vw rabbit c (diesel),cname_vw rabbit custom
0,8,307.0,130.0,3504.0,12.0,70,1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,8,350.0,165.0,3693.0,11.5,70,1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,8,318.0,150.0,3436.0,11.0,70,1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,8,304.0,150.0,3433.0,12.0,70,1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,8,302.0,140.0,3449.0,10.5,70,1,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [12]:
y=df['mpg']
y.value_counts()

mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: count, Length: 127, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train, y_train)
ly_preds = model.predict(X_test)

print('평균제곱근오차', mean_squared_error(ly_preds, y_test))

평균제곱근오차 2.4976479514990856e+28

In [15]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

dy_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(dy_preds, y_test))

평균제곱근오차 10.475822784810125

In [16]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test))

평균제곱근오차 5.948895189873419